* {
	font-family: Arial;
}


body {
	background: url(images/background.jpg) no-repeat fixed center;
	background-position: center top;
    background-size: cover;
    margin: 0px;
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

} 

.container {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1;
  margin-bottom: 100px;
}

.column {
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
}

/*.header {
	width: 100%;
	height: 200px;
}

.logo {
	width: 100%;
	height: 200px;
}*/

.logo  {
	display: flex;
	margin-top: 25px;
	justify-content: center;
	opacity: 0.25;
}


h1 {
  font-size: 32px;
  font-family: "TitilliumText22L";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: left;
  text-shadow: 0px 2px 2px rgba(43, 1, 0, 0.75);
}



.box {
	background-color: rgb(244,244,244);
	width: 380px;
	height: 419px;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 0px 15px rgba(0,0,0,0.3);
} 

.box1 {

}

.box2 {

}

.box3 {
	top: 0;
	right: 0;
	width: 380px;
	height: 219px;
}

.box4 {
	width: 380px;
	height: 219px;
}

.box5 {
	height: 158px;
}

.input input {
	display: block;
	margin-bottom: 20px;
	padding: 10px 10px 10px 50px;
	width: 80%;
	margin: 25px auto;
	margin-top: 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	outline: none;
	font-family: TilleniumText22L;
	color: rgb(175, 175, 175);
	background-color: rgb(246, 246, 246);
	font-size: 16px;
  	line-height: 1.2;

 }

 .input3 {
 	padding-top: 30px;

 }

 .input input[type=text]{
	background: url(icons/icon.png) no-repeat 15px;
	background-position: 7px 8px;

}

 .input input[type=password]{
	background: url(icons/password.png) no-repeat;
	background-position: 7px 8px;
}

 .input input[type=email]{
	background: url(icons/email.png) no-repeat;
	background-position: 7px 10px;
}

 .input input[list=location]{
	background: url(icons/location.png) no-repeat;
	background-position: 10px 10px;
}

 .input input[type=tel]{
	background: url(icons/phonenumber.png) no-repeat;
	background-position: 10px 10px;
}

.textarea {
  display: block;
  height: 150px;
  padding: 10px;
  width: 90%;
  text-align: left;
  background-color: rgb(246, 246, 246);
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  margin: 25px auto;
  margin-top: 0;
  font-family: TilleniumText22L;
  font-size: 16px;
  line-height: 1.2;
}


::-webkit-input-placeholder { /* Chrome */
  font-family: "TitilliumText22L";
  color: rgb(175, 175, 175);
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: "TitilliumText22L";
  color: rgb(175, 175, 175);
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: "TitilliumText22L";
  color: rgb(175, 175, 175);
}
:-moz-placeholder { /* Firefox 4 - 18 */
  font-family: "TitilliumText22L";
  color: rgb(175, 175, 175);
}

.box button {
	display: inherit;
	width: 90%;
	font-size: 24px;
  	font-family: "TitilliumText22L";
  	line-height: 1.2;
  	text-align: center;
  	color: rgb(255, 255, 255);
  	text-shadow: 0.559px 0.829px 0px rgba(81, 133, 14, 0.004);
	margin: 10px auto;
	padding: 10px 10px 10px 10px;
	outline: none;	
	cursor: pointer;
	border-style: solid;
	border-width: 1px;
 	border-color: rgb(59, 154, 0);
    border-radius: 3px;
	background: linear-gradient(90deg, rgb(141, 201, 45), rgb(120, 184, 29));
	box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.004),inset 0px 1px 1px 0px rgba(255, 255, 255, 0.41);
	  
}

.btn2 {
	float: right;
	width: 40% !important;
	position: relative;
	bottom: 40px;
}

.btn4 {
	float: right;
	width: 40% !important;
	position: relative;
	top: 0;
	bottom: 40px;
}

.btn3 {
	width: 40% !important;
	position: relative;
	top: 0;
	bottom: 40px;
	float: left;
}

.btn5 {
	float: right;
	width: 40% !important;
	position: relative;
	top: 0;
	bottom: 40px;
	background: linear-gradient(90deg, rgb(150, 0, 45), rgb(180, 0, 50)) !important;
}


.box button:hover {
	background: linear-gradient(90deg, rgb(141, 170, 45), rgb(120, 184, 29));
}

.box input[type=radio]{
 	-webkit-appearance: none;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(198, 198, 198);
    border-radius: 3px;
    outline: none;
    box-shadow: 0px 2px 0px 0px rgba(255, 255, 255, 0.004),inset 0px 0px 0px 1px rgba(255, 255, 255, 0.24);
    width: 21px;
    height: 22px;
    cursor: pointer;
}

.radioStyle {
    outline: none;
    background: url(http://www.celtic1989.org/GreenSquare_small.jpg) no-repeat;
    background-size: 60%;
	background-position: center;
}

 


label {
	position: relative;
	bottom: 6px;
	display: static;
    font-size: 16px;
    font-family: "TitilliumText22L";
    color: rgb(175, 175, 175);
    line-height: 1.2;
    text-align: left;
 }

.label3, .radio3 {
	position: relative;
	left: 50px;
}



